/* Reset default styles and set box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: bisque;
}
/* Apply styles to the main container */



Thêm vào tệp style.css
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ngăn trượt thanh cuộn xuống xuất hiện nếu nội dung không đủ dài */
}

main {
  background-color: blanchedalmond;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: firebrick;
  /* color: white; Set text color for better readability */
  padding: 20px; /* Add padding for spacing */
 
}

/* Content container styles */
.preferences {
  padding: 20px; /* Add padding for spacing */
}

/* Intro section styles */
.intro {
  margin-top: 20px; /* Reduce margin-top for better positioning */
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
}

/* Paragraph styles */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 10px 0; /* Add margin for spacing */
}


/* Thêm vào tệp style.css */
/* Hình ảnh tròn và căn bên phải */
.photo-container {
  position: absolute;
  top: 100px; /* Điều chỉnh khoảng cách từ đầu trang */
  right: 20px; /* Điều chỉnh khoảng cách từ phía bên phải */
}

.photo {
  width: 150px; /* Điều chỉnh kích thước hình ảnh theo ý muốn */
  height: 150px; /* Điều chỉnh kích thước hình ảnh theo ý muốn */
  border-radius: 100%; /* Biến hình ảnh thành hình tròn */
  display: flex;
  justify-content: flex-end; /* Align the photo to the right */
  margin-bottom: 50px; /* Reduce margin-bottom for better spacing */
}


/* Footer styles */
.footer {
  width: 100%; /* Set to full width */
  background-color: rgb(214, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding for spacing */
  position: relative;
  top: 50px;
}

/* Footer ordered list styles */
.footer ol {
  position: relative;
  left: 50px;
  list-style-type: decimal; /* Use decimal numbering */
}

/* Skill and Experience section styles */
.skill,
.experience {
  margin-top: 20px; /* Reduce margin-top for better positioning */
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  main {
      flex-direction: column; 
      align-items: center;
  }

  section {
      flex-basis: 100%; 
  }

  aside {
      width: 100%; 
  }
}
